{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

	<title>ABES4U</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		 <div class="navbar__logo brand">
            <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
            <span class="text">ABES 4U</span>
          </div>
		<ul class="side-menu top">
			<li class="active">
				<a href="index.html">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Home</span>
				</a>
			</li>
			<li>
				<a href="resource.html">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Resources</span>
				</a>
			</li>
			<li>
				<a href="placement.html">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Placement</span>
				</a>
			</li>
			<li>
				<a href="{% url 'interview' %}">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Interviews</span>
				</a>
			</li>
			<li>
				<a href="{% url 'friendsai' %}">
					<i class='bx bxs-group' ></i>
					<span class="text">Friends' AI</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="{% static 'img/people.png' %}">
			</a>
		</nav>
		<!-- NAVBAR -->

		<div class="container"> 
			{% block content %}
    <h2>Welcome to the Interview Archives , {{request.user.username}}</h2>
    <ul>
        {% for blog in object_list %}
            <div class="blog">
             <li><a href="{% url 'interviewdetail' blog.pk %}" >{{ blog.title }}</a>
            by {{ blog.author }}</li>
            <p>{{ blog.content|safe|truncatechars:50}}</p>
           </div>
             
        {% endfor %}
    </ul>
{% endblock %}</div>
	

	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>