{% extends 'base.html' %} {% load static %}

 {% block mainbody %} 
<!-- MAIN -->
		<main>
			

			<ul class="box-info">
				<li>
					<i class='bx bxs-calendar-check' ></i>
					<span class="text">
						<h3>133</h3>
						<p>Total Offers</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3>30</h3>
						<p>Companies</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-dollar-circle' ></i>
					<span class="text">
						<h3>Rs. 15 Lakh</h3>
						<p>Highest Package</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Placements</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>Student</th>
								<th>Package</th>
								<th>Full Time</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									
									<p>Student Name</p>
								</td>
								<td>12 LPA</td>
								<td><span class="status completed">On Campus</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Student Name</p>
								</td>
								<td>12 LPA</td>
								<td><span class="status pending">Off Campus</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Student Name</p>
								</td>
								<td>12 LPA</td>
								<td><span class="status process">Hackathon</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Student Name</p>
								</td>
								<td>12 LPA</td>
								<td><span class="status pending">Off Campus</span></td>
							</tr>
							<tr>
								<td>
									
									<p>Student Name</p>
								</td>
								<td>12 LPA</td>
								<td><span class="status completed">On Campus</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>MoU Companies</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Capgemini</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Infosys</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>DXC</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Tech Mahindra</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>TCS</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

{% endblock %} 