{% if languages %}

 <div class="card">
    <!-- Header -->
    <div class="card-header bg-dark text-center" id="heading5">
        <h3 class="mb-0">
            <button class="btn btn-link text-light" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                <span style="font-size:1.3em;">
                    <i class="fas fa-globe-europe mr-1"></i> Languages
                </span>
            </button>
        </h3>
    </div>

    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
        <!-- Card Body -->
        <div class="card-body">
           

            <table class="table table-responsive-sm mb-0">
                
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">Language</th>
                        <th scope="col">Level</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <form id="languageOrderingForm" method="post" action="{% url 'cvbuilder:SaveLanguageOrder' %}"> {% csrf_token %}
                    
                    <tbody class="text-center" id="languages">

                        {% for language in languages %}

                            <tr data-lookup="{{ language.id }}">
                                <td><span class="handle_languages handle"></span></td>                
                                <td>{{ language.title }}</td>
                                <td>{{ language.level }}</td>
                                <td>
                                    <a href="{% url 'cvbuilder:UpdateLanguage' language.id %}">
                                        <div class="text-center text-success">
                                            <i class="far fa-edit"></i>
                                        </div>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'cvbuilder:DeleteLanguage' language.id %}">
                                        <div class="text-center text-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>

                    <input type="hidden" id="languageOrderingInput" name="ordering">
                </form>

            </table>


        </div>
    </div>
</div>

{% endif %}